* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home,
#about,
#products,
#contact {
  scroll-margin-top: 8vw; /* Adjust based on header height */
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ECF1F5;
  width: 100%;
  transition: background-color 0.3s ease;
}

.logo img {
  height: 10vw;
  margin-left: 5vw;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 5vw;
}

nav ul li a {
  text-decoration: none;
  color: #35062d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: #7519d1;
}

.content {
  padding-top: 10vw;
}

.hero {
  background-image: url(headerbg.png);
  background-size: cover;
  background-position: center;
  height: 49vw;
  display: flex;
  text-align: left;
  color: #fff;
}

.hero-content {
  max-width: 50vw;
  padding: 3vw;
  margin-top: 4.6vw;
  margin-left: 3vw;
}

.hero-content h1 {
  font-size: 3.2vw;
  margin-bottom: 1vw;
  color: #35062d;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #35062d;
  font-weight: lighter;
}

.introduction {
  text-align: center;
  padding: 10vw 0;
}

.intro-content {
  max-width: 100%;
  color: #35062d;
}

.intro-content h2 {
  font-size: 4vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 100%;
  color: #35062d;
}

.image-placeholder {
  margin: 1vw 0vw 0.5vw 0vw;
  height: 8vw;
  width: 100vw;
  background-image: url('line.png'); /* Set background image */
  background-size: contain; /* Ensure the entire image fits within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
}


.intro-content p {
  font-size: 1.5vw;
  max-width: 100%;
  color: #35062d;
  margin-left: 10vw;
  margin-right: 10vw;
}


.about,
.about2 {
  display: flex;
  align-items: center;
  padding: 8vw 0;
}

.about-event,
.about-event2 {
  flex: 1;
  max-width: 60vw;
  padding-right: 0.5vw;
  color: #000000;
  margin-left: 2vw;
}

.about-event2 {
  text-align: left;
  margin-right: 2vw;
}

.event-theme {
  background-color: #ECF1F5;
  margin: 2vw;
}

.about-content {
  flex: 1;
  max-width: 60vw;
  padding-right: 5vw;
  color: #35062d;
  margin-left: 5%;
}

.about h2 {
  font-size: 5.9vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 2vw;
  color: #35062d;
  font-weight: bold;
}

.about p {
  font-size: 1.5vw;
  margin-bottom: 2vw;
  color: #35062d;
}

.about-image {
  max-width: 50%;
  margin-right: 5%;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5vw;
  margin-left: 2vw;
}

.menu {
  padding: 8vw 0;
  text-align: center;
  background-color: #ffffff;
}

.menu h2 {
  font-size: 3.6vw;
  margin-bottom: 4vw;
  color: #35062d;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-item {
  max-width: 30vw;
  margin: 0 2vw;
  text-align: left;
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5vw;
  margin-bottom: 1vw;
}

.menu-item h3 {
  font-size: 2.4vw;
  margin-bottom: 1vw;
  color: #35062d;
}

.menu-item p {
  margin: 0.5vw;
  font-size: 1.5vw;
  margin-bottom: 2vw;
  color: #35062d;
}

.seemore{
  margin-top: 3vw;
  margin-bottom: -4vw;
}

button {
  border: 0;
  background: #ccdfe9;
  border-radius: 0.4vw;
  box-shadow: 0 0.5vw 0 #acc1cb;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 1.2vw 2vw;
  transition: all 0.1s linear;
}

button a {
  text-decoration: none;
  color: #35062d;
  font-size: 1.6vw;
}

button:active {
  box-shadow: 0 1vw 0 #006599;
  transform: translateY(0.3vw);
}

.contact {
  background-color: #ECF1F5;
  padding: 8vw 0;
  text-align: center;
  color: #35062d;
}

.contact-container {
  max-width: 70vw;
  margin: 0 auto;
}

.contact h2 {
  margin-bottom: 1vw;
  font-size: 2.2vw;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo2{
    height: 20vw;
    width: 65vw;
    background-image: url('logo2.png'); /* Set background image */
    background-size: contain; /* Ensure the entire image fits within the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}

.contact p {
  text-align: center;
  font-size: 1.6vw;
}

.contact-info {
  display: flex;
  justify-content: center;
}

.info-item {
  margin: 0 2vw;
  text-align: center;
}

.info-item i {
  font-size: 2.4vw;
  margin-bottom: 1vw;
}

.footer {
  background-color: #35062d;
  padding: 4vw 0;
  color: #fff;
  text-align: center;
}


.footer-content {
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vw;
}

.footer-logo img {
  max-width: 15vw;
  margin-bottom: 1vw;
}

.footer-links img {
  max-width: 2vw;
}

.footer-links p {
  margin-top: 0.5vw;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: #fff;
  margin: 0 1vw;
  text-decoration: none;
}

.footer-text {
  font-size: 1.2vw;
}
